@model FightingGames.Models
@{
ViewData["Title"] = "Fighting Games";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Title</td>
                <td>SubGenre</td>
                <td>Difficulty</td>
            </tr>
        </thead>
        @foreach (var item in Model.FightingGames)
        {
        <tr>
            <td>@item.Title</td>
            <td>@item.SubGenre</td>
            <td>@item.Difficulty</td>
        </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <!-- TODO: Add item form -->
    </div>
</div>